
<h2>Put something on the map</h2>

<% form_for :pin, :url => region_pins_path(@pin.region), :method => :post, :builder => LabelledBuilder, :html => {:onsubmit => "map.writeLatLong('pin_lat', 'pin_long'); return true;"} do |f| %>
	<%= f.hidden_field :region_id %>
	<%= f.hidden_field :lat %>
	<%= f.hidden_field :long %>	
	<%= f.hidden_field :country %>	

	<p>We're excited about finding out about the resources available in our local community.</p>

	<p>Does your household or business create a product or service that you might consider
	selling, trading, swapping or gifting to others? Tell us about it, and we'll pop you on
	our map of local goods and services.</p>

	<%= render :partial => 'form', :locals => {:f => f} %>
	
	<%= form_footer(:pin, :cancel_link => region_path(@pin.region), :requires_login => false) %>
<% end %>

