<h2>Areas in <%=h @region.name  %></h2>

<p>An <strong>Area</strong> is an important region on the map, perhaps a locality within your region
that has it's own name or identity. You don't have to create any areas, but if you do, then they will
provide a way for people to jump to those important parts of the map.</p>

<div class="record_index">
	<% for area in @areas %>
		<div class="record_row">
			<span class="info"><%= h(area.name) %></span>
			<span class="buttons">
				<%= link_to "view", region_area_path(@region, area) %>
				<%= link_to "edit", edit_region_admin_region_area_path(@region, area) %>
				<%= link_to "delete", region_admin_region_area_path(@region, area), :method => :delete, :confirm => "Are you sure??!" %>
			</span>
		</div>
	<% end %>
</div>

<%= link_to "Create New", new_region_admin_region_area_path(@region) %>
