<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= AppConfig.google_maps_key %>" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[

		var region_map = new RegionMap("map", <%= @map_region.to_json %>, false);

    function load() {
			region_map.load();
			//region_map.setBoundary(<%= @map_region.to_json(:include => :vertices) %>);
			region_map.displayPins(<%= @map_region.pins.to_json %>);
    }

    //]]>
  </script>			
<% end %>
<% content_for :body_load, "load()" %>
<% content_for :body_unload, "GUnload()" %>

<div id="map" class="google_map" style="width: 400px; height: 500px; float: left; margin: 0 10px 10px 0"></div>

<h3>Do you know of some local food resources?</h3>

<p>Do you grow, cook or sell food, or provided resources to help others who do? If so, then
<%= link_to "click here", new_pin_path(:map_region_id => @map_region.id) %> to tell your 
local community about it.
