<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= AppConfig.google_maps_key %>" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[

		var map = new CenterSelectionMap("map", 'region_center_lat', 'region_center_lon', 'region_default_zoom');

    function load() {
			map.load();
    }

    //]]>
  </script>			
<% end %>
<% content_for :body_load, "load()" %>
<% content_for :body_unload, "GUnload()" %>

<%= f.text_field :name %>

<%= f.text_field :city, :hint => 'ie; your local council area' %>
<%= f.text_field :country %>

<h3>Default Map Display</h3>

<p>This is how the map displays by default. Move it around, change the zoom level, and when you
submit this form your choices will be saved. You can zoom in on the area you are interested in by
double clicking on that part of the map.</p>

<div id="map" class="google_map" style="width: 400px; height: 500px; margin-top: 1em"></div>

<%= f.text_field :center_lat %>
<%= f.text_field :center_lon %>
<%= f.text_field :default_zoom %>

<%= form_footer(:region, :cancel_link => admin_regions_path) %>
