<h2>Map Regions</h2>

<div class="record_index">
	<% for region in @regions %>
		<div class="record_row">
			<span class="info"><%= h(region.name) %></span>
			<span class="buttons">
				<%= link_to "view", region_path(region) %>
				<%= link_to "edit", edit_admin_region_path(region) %>
				<%#= link_to "boundaries", admin_region_region_vertices_path(region) %>
				<%= link_to "delete", admin_region_path(region), :method => :delete, :confirm => "Are you sure??!" %>
			</span>
		</div>
	<% end %>
</div>

<%= link_to "Create New", new_admin_region_path %>