<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= AppConfig.google_maps_key %>" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[

		var region_map = new RegionMap("map", <%= @region.to_json %>, false);

    function load() {
			region_map.load();
			//region_map.setBoundary(<%= @region.to_json(:include => :vertices) %>);
			region_map.displayPins(<%= @region.pins.to_json %>);
    }

    //]]>
  </script>			
<% end %>
<% content_for :body_load, "load()" %>
<% content_for :body_unload, "GUnload()" %>

<div id="map" class="google_map" style="width: 400px; height: 500px; float: left; margin: 0 10px 10px 0"></div>

<h2>We're Moving</h2>

<p>Sorry, you can't add anything onto this map right now, we're moving it onto a new computer. If you
added your pin to the physical map at Swanson market last weekend, you should receive an email from
us in a couple of days when the new server is up and working.</p>

<!--

<h3>Do you know of some local food resources?</h3>

<p>Do you grow, cook or sell food, or provide resources to help others who do? If so, then
<%= link_to "click here", new_region_pin_path(@region) %> to tell your 
local community about it.

-->
