<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Transition Towns Admin</title>
		<%= stylesheet_link_tag 'application', 'forms', 'admin', :cache => false %>	
		<%= render :partial => 'layouts/head' %>
	</head>
	<body onload="<%= yield :body_load %>" onunload="<%= yield :body_unload %>">
		<div class="header">
			<%= render :partial => 'layouts/login_details' %>
			<h1>Admin</h1>
		</div>
		<div class="header_tabs">
			<% if is_admin? %>
				<div class="region_selector">
					<span><%= link_to "All Regions", params.merge(:region_id => nil) %></span> |
					<% if @region %>
						<span class="selected"><%=h @region.name %></span>
					<% else %>
						<select onchange="if (this.selectedIndex > 0) document.location = '/admin/regions/' + this.options[this.selectedIndex].value + '/users';">
							<option></option>
							<% for region in Region.find(:all, :order => :name) %>
								<%= content_tag 'option', h(region.name), :value => region.to_param %>
							<% end %>
						</select>
					<% end %>
				</div>
			<% end %>
			<ul>
				<% for model in available_admin_controllers %>
					<% active = (params[:controller] == "admin/#{model}") %>
					<%= content_tag 'li', link_to(model.to_s.humanize, send("admin_#{model}_path".to_sym)), :class => (active ? 'active' : nil) %>
				<% end %>
			</ul>			
		</div>
		<div class="body_container">
			<div class="page_content">
				<%= yield %>
			</div>
		</div>
		<div class="page_footer">
			<%= link_to "Got to main site", '/' %>
		</div>	
	</body>
</html>
