<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Transition Towns Admin</title>
		<%= stylesheet_link_tag 'application', 'forms', 'admin', :cache => true %>	
		<%= render :partial => 'layouts/head' %>
		<%= yield :head %>
	</head>
	<body onload="<%= yield :body_load %>" onunload="<%= yield :body_unload %>">
		<div class="header">
			<h1>Admin</h1>
		</div>
		<div class="body_container">
			<div class="page_content">
				<%= yield %>
			</div>
		</div>		
	</body>
</html>
