<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title><%=h title %></title>
		<%= stylesheet_link_tag 'application', 'forms', :cache => true %>	
		<%= render :partial => 'layouts/head' %>
	</head>
	<body onload="<%= yield :body_load %>" onunload="<%= yield :body_unload %>">
		<div class="header">
			<%= image_tag 'logo.jpg', :alt => 'logo', :class => 'logo' %>
			<h1><%=h title %></h1>
			<h2 class="subtitle">Building resilient communities by supporting local food, local people &amp; local jobs</h2>
			<div class="button_bar">
				<% if logged_in? %>
					Welcome <strong><%= current_user.name %></strong> (<%= link_to 'logout', session_path, :method => :delete %>)
					<% if is_admin? %>
						<%= link_to "Administer Site", admin_regions_path %>
					<% end %>
					<% if current_user.is_region_admin? %>
						<% for region in current_user.region_privileges.map(&:region) %>
							<%= link_to "Administer #{region.name}", region_admin_region_pins_path(region) %>
						<% end %>
					<% end %>
				<% else %>
					Already on the map? You can <%= link_to "log-in", new_session_path %> to make changes.
				<% end %>
			</div>
		</div>
		<div class="body_container">
			<div class="page_content">
				<%= yield %>
			</div>
		</div>		
	</body>
</html>
